{% extends 'baseAdmin.html.twig' %}
{% block title %}Se connecter{% endblock %}
{% block body %}
    <section >
        <div class="connexion-section">
            <form method="post" class="connexion-form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes conecté en tant que {{ app.user.username }}, <a
                                href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <h1>Connexion à votre compte</h1>

                <div class="connexion-mail">
                    <label for="inputEmail">Identifiant</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           autocomplete="email" placeholder="Écrivez votre nom ou mail" required autofocus>
                </div>
                <div class="connexion-password">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           autocomplete="current-password" placeholder="Écrivez votre mot de passe" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <br><br>
                <button class="bouton-connexion" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('back/css/login.css') }}">
{% endblock %}