{% extends 'baseAdmin.html.twig' %}
{% block title %}Utilisateur{% endblock %}
    {% block body %}

        {{ include('_includes/navigation.html.twig') }}
<section class="section-content">
    <div class="content">
                <div class="welcome-container-title">
                    <h1 style="flex: none">Modifier votre profil</h1>
                    <a class="bouton-1" href="{{ path('user_profil',{id:app.user.id}) }}">Quitter<i class="fas fa-times"></i></a>
                </div>
                <div class="welcome-container form">
                    <div class="formCategorie">
                        {% for message in app.flashes('success') %}
                            <div class="greenalert">
                                <div class="close" id="close" onclick="$('.fas').parents('.greenalert').remove();"><i
                                            class="fas fa-times"></i></div>
                                <div class="success-alert">
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('danger') %}
                            <div class="redalert">
                                <div class="close" id="close" onclick="$('.fas').parents('.redalert').remove();"><i
                                            class="fas fa-times"></i></div>
                                <div class="danger-alert">
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        {{ form_start(form) }}
                            <p>Modifiez votre adresse mail</p>
                            {{ form_row(form.email) }}
                        <button class="bouton-1">{{ button_label|default('Enregistrer') }}</button>
                        {{ form_end(form) }}

                    </div>
                </div>

            </div>
        </section>
    {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('back/css/profil.css') }}">
{% endblock %}