{% extends 'base.html.twig' %}

{% block title %}Controls index{% endblock %}

{% block body %}
    <h1>Controls index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for control in controls %}
            <tr>
                <td>{{ control.id }}</td>
                <td>{{ control.name }}</td>
                <td>
                    <a href="{{ path('app_controls_show', {'id': control.id}) }}">show</a>
                    <a href="{{ path('app_controls_edit', {'id': control.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_controls_new') }}">Create new</a>
{% endblock %}
